body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 4rem 12rem;
}

.center {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
  align-items: center;
}

/* AUTHENTICATION */
.authCard {
  margin: 8rem 24rem; 
  border: 0px;
}

.authCard h1, .main h1 {
  font-weight: bold;
  padding-bottom: 1rem;
}

.authCard .authRow {
  margin: 12px 0px;
}

/* MAIN PAGE */
.end-align {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.notes-modal .modal-dialog {
  max-width: 60%;
}

.notes-modal .modal-body {
  padding: 2rem;
}

.padding-above {
  margin-top: 2rem;
}

/* SMALLER SCREENS */
@media only screen and (max-width: 1080px) {
  .main {
    margin: 2rem 4rem;
  }
  .authCard {
    margin: 4rem 8rem; 
    border: 0px;
  }
}